$black: #000000;
$white: #ffffff;
$silverBlue: #B5B7C0;
$grey: #757575;
$liteGrey: #9197B3;
$midleGray: #404B52;
$darkGray: #292D32;
$bgLiteGray: #FAFBFF;
$turquoise: #16C098;
$purple: #5932EA;
$green: #008767;
$liteGreen: #16C09861;
$red: #DF0404;
$liteRed: #FFC5C5;
// F5F5F5
// EEE