body {
   font-family: 'Poppins', sans-serif;
   background-color: $bgLiteGray;
   font-size: 12px;
   position: relative;

   @media screen and (min-width: 1025px) {
      font-size: 16px;
   }
}

main {
   height: 100%;
}

.wrapper {
   display: flex;
   height: 100%;
}

.sidebar {
   background-color: $white;
   // transition: all .3s;

   @media screen and (min-width: 769px) {
      min-width: 240px;
   }

   @media screen and (min-width: 1025px) {
      min-width: 306px;
   }
}

.sidebar__container {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding-top: 27px;
   padding-bottom: 78px;
   margin: 0 auto;

   @media screen and (min-width: 769px) {
      padding-left: 9.15%;
      padding-right: 9.15%;
   }
}

.sidebar__title {
   letter-spacing: .26px;
   margin-bottom: 26%;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   display: inline-flex;
   align-items: center;
   justify-content: center;

   @media screen and (min-width: 1025px) {
      justify-content: flex-start;
   }

   svg {
      min-width: 26px;

      @media screen and (min-width: 1025px) {
         min-width: 37px;
      }
   }

   p {
      display: none;

      @media screen and (min-width: 769px) {
         display: inline-block;
         padding-left: 3.2%;
         font-size: 1.625em;
         color: $black;
      }
   }

   span {
      padding-left: 4px;
      color: #838383;
      font-size: 0.625em;
      font-weight: 500;
      letter-spacing: -0.1px;
      padding-top: 10px;
   }
}

.sidebar__section {
   display: flex;
   flex-direction: column;
   margin-bottom: auto;
   gap: 10px;

   @media screen and (min-width: 1025px) {
      gap: 17px;
   }
}

.section__name {
   max-width: 250px;
   width: 100%;
   height: 36px;
   padding: 11px 8px 11px 11px;
   border-radius: 8px;
   display: inline-flex;
   align-items: center;
   position: relative;
   gap: 7%;
   color: $liteGrey;
   font-size: 0.875em;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: -0.14px;

   @media screen and (min-width: 1025px) {
      height: 46px;
   }

   svg {
      height: 20px;
      width: 20px;

      @media screen and (min-width: 1025px) {
         height: 24px;
         width: 24px;
      }
   }

   span {
      display: none;

      @media screen and (min-width: 769px) {
         display: inline-block;
      }
   }

   ::after {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" fill="none"><path d="M6 12L10 8L6 4" stroke="%239197B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      width: 12px;
      position: absolute;
      top: 35%;
      right: 3.5%;

      @media screen and (min-width: 1025px) {
         width: 16px;
         height: 16px;
      }
   }

   &:hover {
      background-color: $purple;
      color: $white;

      svg path {
         stroke: white;

      }

      ::after {
         content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none"><path d="M6 12L10 8L6 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      }
   }
}

.sidebar__user {
   display: flex;
   gap: 5%;
   justify-content: center;

   @media screen and (min-width: 769px) {
      .sidebar__user {
         justify-content: flex-start;
      }
   }
}

.user__avatar {
   width: 34px;

   @media screen and (min-width: 1025px) {
      width: 42px;
   }
}

.user__info {
   display: none;

   @media screen and (min-width: 769px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}

.user__name {
   color: $black;
   font-size: .875em;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: 0.14px;

   @media screen and (min-width: 1025px) {}
}

.user__position {
   color: $grey;
   font-size: 0.75rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.12px;
}

.main__content {
   width: 100%;
   padding: 40px 20px 20px 60px;
   overflow-x: scroll;
   transition: all .3s;
}

.main__content-wrapper {
   margin: 0 auto;
   width: 700px;

   @media screen and (min-width: 1025px) {
      width: 968px;
   }
}

.main__user {
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   font-size: 1.5em;
   margin-bottom: 5.3%;

   @media screen and (min-width: 1025px) {}
}

.main__content-container {
   display: flex;
   flex-direction: column;
   background-color: $white;
   border-radius: 20px;
   padding: 3.1% 4% 0 4%;
   gap: 40px;
}

.main__info {
   display: flex;
   justify-content: space-between;
}

.info__filter {
   display: flex;
   flex-direction: column;

   font-weight: 400;
   letter-spacing: -0.14px;
   gap: 4px;

   @media screen and (min-width: 1025px) {
      gap: 7px;
   }


   h3 {
      font-size: 1.375em;
      font-weight: 600;
      letter-spacing: -0.22px;
   }

   span {
      color: $turquoise;
      font-size: 0.875em;
   }
}

.user__search-container {
   display: inline-flex;
   background-color: #F9FBFF;
   border-radius: 10px;
   align-items: center;
   max-width: 160px;
   height: 28px;
   margin: auto 0;
   width: 100%;

   @media screen and (min-width: 1025px) {
      max-height: 38px;
      height: 100%;
      max-width: 216px;
      width: 100%;
   }

   svg {
      margin: 4px 5px;
      width: 17px;


      @media screen and (min-width: 1025px) {
         width: 24px;
         height: 24px;
         margin: 7px 8px;
      }
   }
}

.user__search {
   width: 75%;
   font-size: 0.9em;
   background-color: transparent;

   &::placeholder {
      color: $silverBlue;
      font-size: 0.9em;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.12px;
   }
}

.main__table {
   display: flex;
   flex-direction: column;

}

.table {
   width: 100%;
   font-size: 0.875em;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: -0.14px;
   text-align: start;

   th {
      color: $silverBlue;
      font-weight: 500;
      text-align: start;
   }

   tr {
      height: 50px;
      border-bottom-width: 1px;
      border-bottom-color: red;
      border-bottom-style: solid;

      @media screen and (min-width: 1025px) {
         height: 70px;
      }
   }


   td {
      padding-bottom: 1px;

   }
}

.table__footer {
   display: flex;
   justify-content: space-between;
   padding-bottom: 42px;
   padding-top: 23px;
   align-items: center;

   span {
      color: $silverBlue;
      font-size: 0.875em;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
   }
}

.table__btn {
   color: #404B52;
   font-family: Poppins;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 100%;
   /* 12px */
   letter-spacing: -0.12px;

   display: inline-flex;
   gap: 10px;
}

.table__btn-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   color: $midleGray;

   height: 20px;
   width: 20px;

   border-radius: 4px;
   background-color: #F5F5F5;
   border-color: #EEE;
   border-width: 1px;
   border-style: solid;
   transition: all .3s;

   @media screen and (min-width: 1025px) {
      height: 25px;
      width: 26px;
   }

   &:hover {
      background-color: $purple;
      border-color: $purple;
      color: $white;

      path {
         fill: $white;
      }
   }

   &.table__btn-btn--poins {
      background-color: transparent;
      border: none;
      color: $black;
      width: fit-content;

      &:hover {
         background-color: transparent;
         border: none;
         color: $black;
      }
   }

   &.table__btn-btn--arrow-right {
      svg {
         transform: rotate(180deg);
      }
   }

}

.button {
   border-style: solid;
   border-width: 1px;
   border-radius: 4px;
   font-size: 0.875em;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: -0.14px;
   max-width: 60px;
   text-align: center;

   @media screen and (min-width: 1025px) {
      max-width: 80px;
   }

   &.button--active {
      color: $green;
      border-color: $green;
      background-color: $liteGreen;
      padding: 2 15px;

      @media screen and (min-width: 1025px) {
         padding: 4 21px;
      }
   }

   &.button--inactive {
      color: $red;
      border-color: $red;
      background-color: $liteRed;
      padding: 2 11px;

      @media screen and (min-width: 1025px) {
         padding: 4 15px;
      }
   }
}

.overlay {
   position: fixed;
   opacity: 0;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   pointer-events: none;
   transition: 0.3s ease-in-out;
   z-index: -100;

   &.overlay--open {
      position: fixed;
      pointer-events: all;
      background-color: #00000099;
      opacity: 1;
      z-index: 4;
   }
}